.root {
  font-weight: 500;
  color: #fff;
  text-transform: none;
  min-width: auto;
  border: 1px solid;
  border-radius: 8px;

  &.green {
    border-color: #2BBF89;
    background-color: #2BBF89;
  
    &:hover {
      background-color: rgb(34, 153, 109);
    }
  }
  
  &.red {
    border-color: #F96C5A;
    background-color: #F96C5A;
  
    &:hover {
      background-color: rgb(196, 86, 72);
    }
  }

  &.inactive {
    border-color: #333545;
    background-color: transparent;

    &.green {
      color: #2BBF89;

      &:hover {
        color: #fff;
        border-color: #2BBF89;
        background-color: #2BBF89;
      }
    }

    &.red {
      color: #F96C5A;

      &:hover {
        color: #fff;
        border-color: #F96C5A;
        background-color: #F96C5A;
      }
    }
  }

    &.small {
      font-size: 12px;
      line-height: 14px;
      padding: 7px 8px;
    }

    &.normal {
      font-size: 14px;
      line-height: 16px;
      padding: 15px 12px;
    }
}
